#main-block {
  background-color: #3E2313;
  margin: auto;
  width: 75%;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

#list-input {
  width: 30%;
  height: 50px;
  border: 3px solid #625D3D;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

#search-btn {
  height: 50px;
  border: 3px solid white;
  background-color: #625D3D;
  color: white;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Iceland';
  font-weight: bold;
  font-size: 1.7vw;
}