#list {
  display: grid;
  background-color: #3E2313;
  margin: auto;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
}

.book-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

#search {
  background-color: #3E2313;
  margin: auto;
  width: 75%;
  height: 500px;
}

@media (min-width: 0px) and (max-width: 680px) {
  #list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 681px) and (max-width: 1070px) {
  #list {
    grid-template-columns: 1fr 1fr;
  }
}