.main, .random-book {
  display: flex;
  margin: auto;
  width: 75%;
  height: 75vh;
  background-color: #3E2313;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .main {
    height: 300px;
  }
}

.welcome {
  margin: auto;
}

#btn span:hover {
  background-color: #625d3dcd;
  color: white;
}