.App {
  text-align: center;
}

.main-block {
  background-color: #3E2313;
  margin: auto;
  width: 75%;
}

.main, .random-book {
  display: flex;
  margin: auto;
  width: 75%;
  background-color: #3E2313;
}

.info {
  display: inline-block;
  margin: 10px;
  color: white;
  font-family: 'Iceland';
  font-size: 2rem;
}

.main-btn {
  color: #671004;
  border: 2px solid #671004;
  background-color: rgba(240, 248, 255, 0.637);
  font-size: 6vw;
  white-space: nowrap;
  font-family: Iceland;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main {
  height: 75vh;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .list {
    grid-template-columns: 1fr;
  }

  .main {
    height: 300px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .book-img {
    width: 75%;
    height: 90%;
  }
}

@media (min-width: 1001px) and (max-width: 1270px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}