.App {
  text-align: center;
}

.main-block {
  background-color: #3E2313;
  margin: auto;
  width: 75%;
}

.info {
  display: inline-block;
  margin: 10px;
  color: white;
  font-family: 'Iceland';
  font-size: 2rem;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .book-img {
    width: 75%;
    height: 90%;
  }
}

@media (min-width: 1001px) and (max-width: 1270px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}