.App {
  text-align: center;
}

.info {
  display: inline-block;
  margin: 10px;
  color: white;
  font-family: 'Iceland';
  font-size: 2.5vw;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1001px) and (max-width: 1270px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}